* {
    margin: 0;
    padding: 0;
}

body {
    background: #1e1e1e;
}

header {
    background: #1e2f2f;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

section {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    width: 100%;
}
textarea {
    background: #2f2f1e;
    position: relative;
    border: none;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    width: calc(100% - 4px);
    color: white;
    height: 3rem;
}
#text-input {
    padding-top: 0.4rem;
    width: 60vw;
}

/*label > ::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/

/*#message-container {*/
/*    background: rgb(40, 40, 40);*/
/*    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;*/
/*    width: 60vw;*/
/*    height: 60%;*/
/*    overflow-y: scroll;*/
/*    color: white;*/
/*}*/

/*.message-wrapper {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/

.message-content {
    width: 100%;
}

.emote {
    position: relative;
    bottom: -6px;
    padding: 0 4px;
}

#emote-button {
    width: 24px;
    position: absolute;
    top: 0.5rem;
    right: 0.1rem;
    cursor: pointer;
}

#text-input {
    position: relative;
}

.emote-list {
    display: flex;
    position: fixed;
    background: whitesmoke;
    width: 15vw;
    height: 30vh;
    overflow-y: scroll;
    visibility: hidden;
    flex-wrap: wrap;
    right: 20vw;
    bottom: 22vh;
    z-index: 10;
}

/*crappy lib down there*/
#chatlist { height: 60% }

#chatlist { width: 60vw; clear: both; margin: 20px 0 10px; }
#chatlist .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#chatlist .overview { list-style: none; position: absolute; left: 0; top: 0; }
#chatlist .thumb .end,
#chatlist .thumb { background-color: #003D5D; }
#chatlist .scrollbar { position: relative; float: right; width: 15px; }
#chatlist .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#chatlist .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#chatlist .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#chatlist .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
